*.pyc
__pycache__/
stats/home_motimono.csv
stats/home_terastal.csv
stats/home_tokusei.csv
stats/home_waza.csv
stats/home_seikaku.csv
stats/ranking.json
stats/ranking.txt
stats/season.txt
stats/party_members.json
party/csv/*
party/txt/*
party/table/*
party/setting.txt
recog/outputImg/*
recog/setting.json
bat/