*.pyc
__pycache__/
home/home_motimono.csv
home/home_terastal.csv
home/home_tokusei.csv
home/home_waza.csv
home/home_seikaku.csv
home/ranking.json
home/ranking.txt
party/csv/*
party/txt/*
party/table/*
party/setting.txt